<div>
    <ul>
        <li *ngFor="let item of menu"> 
            <a (click)= "navigate(item.url)">{{item.descrizione}}</a>
        </li>
        <li> <a id="cursor" (click)="logout()"> Esci </a></li>

        <!-- RICERCA -->
        <li *ngIf="ricerca">
            <form>
                <input #ricerca type="search">
                <i class="fa fa-search" (click)="search(ricerca.value)"></i>
            </form>
        </li>
        <img src="/assets/logo-prova.png" alt="Il logo del nostro blog"/>
    </ul>
</div>


