<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div>
        <img src="../../../asset/lucrative-logo.png" alt="logo" class="logo">
        <a href=""><img src="../../../asset/x.png" alt="piu" class="tastoX"></a>
        <H1>Registrati</H1>
        <form (ngSubmit)="onSubmit(signinForm.value)" [formGroup]="signinForm">
            <div class="grid-container">
                <div class="item1">
                    <span class="material-icons">
                                account_box
                            </span>
                </div>
                <div class="item2">
                    <label for="nomeUtente">
                                Email
                            </label>
                </div>
                <div class="item3">
                    <input type="text" id="username" required formControlName="username">
                </div>
            </div>

            <div class="grid-container">
                <div class="item1">
                    <span class="material-icons">
                        lock
                    </span>
                </div>
                <div class="item2">
                    <label for="password">Password</label>
                </div>
                <div class="item3">
                    <input type="password" id="password" required formControlName="password">
                </div>
            </div>
            <button type="submit" class="bottone">Sign in</button>
        </form>
    </div>
</body>