<app-menu>
</app-menu>


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>


    <div>
        <p class="titolo"><strong>Lucrative Game Abbigliamento</strong></p>
        <!--<p class="testo">Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Nullam vestibulum <br> placerat eros, effictur aliquet veilt <br> vestibilium in. Donec quis lacinia est. <br> Proin nec neque leo.</p>-->
    </div>

    <div class="slider">
        <input type="radio" name="toggle" id="btn-1" checked>
        <input type="radio" name="toggle" id="btn-2">
        <input type="radio" name="toggle" id="btn-3">

        <div class="slider-controls">
            <label for="btn-1"></label>
            <label for="btn-2"></label>
            <label for="btn-3"></label>
        </div>

        <ul class="slides">
            <li class="slide">
                <div class="slide-content">
                    <h2 class="slide-title"></h2>
                    <p class="slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dignissimos commodi eos totam perferendis possimus dolorem, deleniti vitae harum? Enim.</p>
                    <a href="#" class="slide-link">Learn more</a>
                </div>
            </li>
            <li class="slide">
                <div class="slide-content">
                    <h2 class="slide-title"></h2>
                    <p class="slide-text">Nisi ratione magni ea quis animi incidunt velit voluptate dolorem enim possimus, nam provident excepturi ipsam nihil molestiae minus delectus!</p>
                    <a href="#" class="slide-link">Amazing deal</a>
                </div>
            </li>
            <li class="slide">
                <div class="slide-content">
                    <h2 class="slide-title"></h2>
                    <p class="slide-text">Quisquam quod ut quasi, vero obcaecati laudantium asperiores corporis ad atque. Expedita fugit dicta maxime vel doloribus sequi, facilis dignissimos.</p>
                    <a href="#" class="slide-link">Get started</a>
                </div>
                >
            </li>
        </ul>

    </div>
    <footer>
        <i class="fa fa-facebook" style="padding-left: 1%;"></i>
        <i class="fa fa-instagram" style="padding-left: 1%;"></i>
        <i class="fa fa-telegram" style="padding-left: 1%;"></i>
        <i class="fa fa-snapchat-ghost" style="padding-left: 1%;"></i>
        <i class="fa fa-pinterest-p" style="padding-left: 1%;"></i>
        <u class="copy">Copyright 2020 | Kana spa</u>
    </footer>
</body>