$bgcolor: #058dfb;
$textcolor: darkblue;
$fontsize: 19px;

/* Use the variables */
body {
  background-color: $bgcolor; /*Compare se motore di ricerca non carica sfumatura*/
  background-image: linear-gradient(to right, #006cff , #00bdff);
  height: 768px;
  width: auto;
}

h1 {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.3em;
  margin-left: 0.5em;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  margin-left: 1.5em;
  font-weight: bold;
}

img {
  width: 600px;
  margin-right: 1.5em;
  justify-content: right;
}
