<app-menu>
</app-menu>


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>


    <div>
        <p class="titolo"><strong>Lucrative Game Abbigliamento</strong></p>
        <!--<p class="testo">Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit. Nullam vestibulum <br> placerat eros, effictur aliquet veilt <br> vestibilium in. Donec quis lacinia est. <br> Proin nec neque leo.</p>-->
    </div>
    <div class="slide-wrap">

        <a href="#slide-1">1</a>
        <a href="#slide-2">2</a>
        <a href="#slide-3">3</a>
        <a href="#slide-4">4</a>
        <a href="#slide-5">5</a>

        <div class="slider">
            <div class="slide" id="slide-1">1</div>
            <div class="slide" id="slide-2">2</div>
            <div class="slide" id="slide-3">3</div>
            <div class="slide" id="slide-4">4</div>
            <div class="slide" id="slide-5">5</div>
        </div>

    </div>
    <footer>
        <i class="fa fa-facebook" style="padding-left: 1%;"></i>
        <i class="fa fa-instagram" style="padding-left: 1%;"></i>
        <i class="fa fa-telegram" style="padding-left: 1%;"></i>
        <i class="fa fa-snapchat-ghost" style="padding-left: 1%;"></i>
        <i class="fa fa-pinterest-p" style="padding-left: 1%;"></i>
        <u class="copy">Copyright 2020 | Kana spa</u>
    </footer>
</body>
