<div class="main-container">


<div>
    <app-menu>
    </app-menu>
</div>

    <div>


        <div>
            <p class="titolo"><strong>Lucrative Game Abbigliamento</strong></p>

        </div>

        <!--carousel-->
        <!--creazione bottoni-->
        <div class="slider">
            <input type="radio" name="toggle" id="btn-1" checked>
            <input type="radio" name="toggle" id="btn-2">
            <input type="radio" name="toggle" id="btn-3">
            <input type="radio" name="toggle" id="btn-4">

            <div class="slider-controls">
                <label for="btn-1"></label>
                <label for="btn-2"></label>
                <label for="btn-3"></label>
                <label for="btn-4"></label>
            </div>

            <!--craezione varie slides carousel (4)-->
            <ul class="slides">
                <li class="slide">
                    <div class="slide-content">
                        <p class="slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
                            dignissimos commodi eos totam perferendis possimus dolorem, deleniti vitae harum? Enim.</p>
                    </div>
                </li>
                <li class="slide">
                    <div class="slide-content">

                        <p class="slide-text">Nisi ratione magni ea quis animi incidunt velit voluptate dolorem enim
                            possimus, nam provident excepturi ipsam nihil molestiae minus delectus!</p>

                    </div>
                </li>
                <li class="slide">
                    <div class="slide-content">

                        <p class="slide-text">Quisquam quod ut quasi, vero obcaecati laudantium asperiores corporis ad
                            atque. Expedita fugit dicta maxime vel doloribus sequi, facilis dignissimos.</p>

                    </div>
                </li>
                <li class="slide">
                    <div class="slide-content">
                        <p class="slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
                            dignissimos commodi eos totam perferendis possimus dolorem, deleniti vitae harum? Enim.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- fine carousel-->

    <!--footer-->
    <footer>
        <i class="fa fa-facebook" style="padding-left: 1%;"></i>
        <i class="fa fa-instagram" style="padding-left: 1%;"></i>
        <i class="fa fa-telegram" style="padding-left: 1%;"></i>
        <i class="fa fa-snapchat-ghost" style="padding-left: 1%;"></i>
        <i class="fa fa-pinterest-p" style="padding-left: 1%;"></i>
        <u class="copy">Copyright 2020 | Kana spa</u>
        <button>De</button>
        <button>En</button>
        <button>It</button>
    </footer>

</div>