<body>

  <app-menu></app-menu>
  <div>
    <button  (click)="viewList1()">Tutti</button>
    <button  (click)="viewList2()">Preferiti</button>
    <button  (click)="viewList3()">Nascosti</button>
  </div>

  <!-- LISTA TUTTI -->
  <ng-container *ngIf="list1 === true">
  <ul>
    <li class= "prova" *ngFor="let item of clothesList">
      <table style="width:100%">
        <tr>
          <th style="width:1%">
            <img id="prod" src="{{item.path}}" alt="{{item.path}}" /></th>
          <th>{{item.name}} <br>
            {{item.description}}
          </th>

          <!--<th style="width:1%"><button routerLink="/detail/{{item.id}}">Vai al dettaglio</button>
          </th>
          -->
          <th style="width:1%">
            <a href="https://bufferapp.com/add?url=https://simplesharebuttons.com">
            <img class="share" src="/assets/lista/icon-share.png" alt="icon share" /></a>
          </th>

          <th style="width:1%">
            <a  routerLink="/detail/{{item.id}}">
            <img class="share" src="/assets/lista/icon-piuInfo.png" alt="icon share" /></a>
          </th>

        </tr>
      </table>
       <!-- {{item.id}} -->
    </li>
  </ul>
  </ng-container>


  <!-- LISTA PREFERITI -->
  <ng-container *ngIf="list2 === true">
    <ul>
      <li class= "prova" *ngFor="let item of clothesList">
        <table style="width:100%">
          <tr>
            <th style="width:1%">
              <img src="{{item.path}}" alt="{{item.path}}" /></th>
            <th>{{item.name}} <br>
              {{item.description}}
            </th>
  
            <!--<th style="width:1%"><button routerLink="/detail/{{item.id}}">Vai al dettaglio</button>
            </th>
            -->
            <th style="width:1%">
              <a href="https://bufferapp.com/add?url=https://simplesharebuttons.com">
              <img class="share" src="/assets/lista/icon-share.png" alt="icon share" /></a>
            </th>
  
            <th style="width:1%">
              <a  routerLink="/detail/{{item.id}}">
              <img class="share" src="/assets/lista/icon-piuInfo.png" alt="icon share" /></a>
            </th>
  
          </tr>
        </table>
         <!-- {{item.id}} -->
      </li>
    </ul>
    </ng-container>


    <!-- LISTA NASCOSTI -->
  <ng-container *ngIf="list3 === true">
    <ul>
      <li class= "prova" *ngFor="let item of clothesList">
        <table style="width:100%">
          <tr>
            <th style="width:1%">
              <img src="{{item.path}}" alt="{{item.path}}" /></th>
            <th>{{item.name}} <br>
              {{item.description}}
            </th>
  
            <!--<th style="width:1%"><button routerLink="/detail/{{item.id}}">Vai al dettaglio</button>
            </th>
            -->
            <th style="width:1%">
              <a href="https://bufferapp.com/add?url=https://simplesharebuttons.com">
              <img class="share" src="/assets/lista/icon-share.png" alt="icon share" /></a>
            </th>
  
            <th style="width:1%">
              <a  routerLink="/detail/{{item.id}}">
              <img class="share" src="/assets/lista/icon-piuInfo.png" alt="icon share" /></a>
            </th>
  
          </tr>
        </table>
         <!-- {{item.id}} -->
      </li>
    </ul>
    </ng-container>
    <br><br>
</body>
