<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" ngNativeValidate>
      <div>
          <p class="title">LOGIN</p>
          <input id="username" placeholder="nome utente" formControlName="username" required>
      </div>
      <div>
          <input type="password" id="password" placeholder="password" formControlName="password" required>
          <input type="button" onclick="showPwd()" value="mostra/nascondi">
      </div>
      <div>
          <button type="submit">Accedi</button>
          <button routerLink="/signup">Sign up</button>
      </div>
</form>
<!-- <script type="text/javascript">
    function showPwd() {
        var input = document.getElementById('password');
        if (input.type === "password") {
          input.type = "text";
        } else {
          input.type = "password";
        }
      }
</script> -->

