<body>

<app-menu></app-menu>


<br>
<div class="row">
  <div class="column left">
    <h1>{{clothes.name}} </h1>
    <h3>DESCRIZIONE DEL PRODOTTO:</h3>
    <p>{{clothes.description}}</p>
  </div>

  <div class="column middle">
    <img class="imgPosition" src="/assets/lucrative-logo.png" alt="Il logo del nostro blog" />
  </div>

  <div class="column right">
    <h2>$150</h2>
    <p>selezionare la taglia da lei desiderata:</p>
    <button class="button button5">S</button>  <button class="button button5">M</button>  <button class="button button5">L</button>

  </div>
</div>





<!-- CHIDERE AL PROFE COME MAI FUNZIONA MA MI DA ERRORE IN CONSOLE -->
<p> ID: {{clothes.id}} </p>
<p> Nome: {{clothes.name}} </p>
<p> Description: {{clothes.description}} </p>
<p> Generre: {{clothes.genere}} </p>


</body>
