<app-menu></app-menu>


<!-- CHIDERE AL PROFE COME MAI FUNZIONA MA MI DA ERRORE IN CONSOLE -->
<p> ID: {{clothes.id}} </p>
<h1> {{clothes.name}} </h1>
<h3> Description:</h3><p>{{clothes.description}}</p>
<h3> Genere:</h3><p>{{clothes.genere}}</p>
<img src={{clothes.path}}>
<h3> Prezzo:</h3><p>{{clothes.prezzo}} €</p>
<form action="">
    <fieldset>
    <legend>Taglia</legend>
    S <input type="radio" name="taglia" value="S"/><br>
    M <input type="radio" name="taglia" value="M"/><br>
    L <input type="radio" name="taglia" value="L"/>
    </fieldset>
</form>