<div>
    <form (ngSubmit)="addFeedback(feedbackForm)"  [formGroup]="feedbackForm" ngNativeValidate>
        <div>
            <label for="nome">Nome</label>
            <input type="text" id="nome" formControlName="nome" required>
        </div>
        <div>
            <label for="cognome">Cognome</label>
            <input type="text" id="cognome" formControlName="cognome" required>
        </div>
        <div>
            <label for="genere">Genere</label>
            <input type="text" id="genere" formControlName="genere" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" formControlName="email" required>
        </div>
        <div>
            <label for="telefono">Telefono</label>
            <input type="text" id="telefono" formControlName="telefono" required>
        </div>
        <div>
            <label for="messaggio">Messaggio</label>
            <textarea type="text" id="messaggio" formControlName="messaggio" required>
                Messaggio
            </textarea>
        </div>
        
        <button type="submit">Invia</button>
    </form>
</div>

