<div class="main-container">
    <app-menu></app-menu>
    <div class="title">
        <h3>Benvenuto {{user.username}}</h3>
        <img class="icon" src="{{user.path}}" class="avatar" alt="avatar" routerLink="/modifica-avatar-profilo">
    </div>
    
    <div class="box">
        <form [formGroup]="modificaProfilo" (ngSubmit)="sendModify()">
            <input type="text" name="nome" class="form-control" placeholder="Nome" formControlName="nome"><br>
            <input type="text" name="cognome" class="form-control" placeholder="Cognome" formControlName="cognome"><br>
            <select name="Sesso" class="form-control" formControlName="genere">
                <ng-container *ngFor="let item of generi">
                    <option class="colorUomoDonna" value={{item}} > {{item}} </option>
                </ng-container>
            </select>
            <br>
                <input type="text" name="Email" class="form-control" placeholder="Email" formControlName="email"><br>
                <input type="text" name="telefono" class="form-control" placeholder="Telefono" formControlName="telefono"><br>
            <br>
            <br>
            <input routerLink="/profilo"  class="form-control submit" value="Annulla">   
            <input type="submit" class="form-control submit" value="Conferma">
        </form>
    </div>
</div>

