.main-container{
    text-align: center;
  }
  
.title {
    margin-top: 2%;
    color: blue;
  }
  
.title h1{
    font-size: 32px;
    line-height: 10px;
  }
  
.title h3 {
    font-size: 16px;
    color: white;
  }
  
form{
    margin-top: 20px;
  }
  
.form-control {
    width: 500px;
    color: white;
    background: transparent;
    border:none;
    outline:none;
    border: 1px solid white;
    font-size: 15px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
  
input{
    height: 45px;
}
  
form .submit{
    background-color: white;
    color: #006cff;
    border-radius: 30px 30px 30px 30px;
    font-size: 20px;
    height: 50px;
    width: 250px;
    margin: 2px;
    transition: 0.4s ease;
    text-align: center;
    cursor: pointer;
}

  
form.submit:hover{
    background-color: red;
    cursor: pointer;
}  
  
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

.avatar {
    margin-top: -5px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.title span {
  position: relative;
  cursor: pointer;
  color: #006cff;
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 45%;
  align-self: auto;
  margin: auto;
  top: -30px;
  right: 20px;
}

.colorUomoDonna{
	background-color: #006cff;
}

