
<body>
    <app-menu></app-menu>
    <div class="title">
        <h3>Benvenuto</h3>
        <img class="icon" src="icon.profilo.png" alt="">
    </div>
    
    <label for="img"></label>
    <input type="file" id="img" name="img" accept="image/*">
    <input type="submit">
    
    <div class="box">
        <form [formGroup]="modificaProfilo" (ngSubmit)="sendModify()">
            <input type="text" name="nome" class="form-control" placeholder="Nome" formControlName="nome"><br>
            <input type="text" name="cognome" class="form-control" placeholder="Cognome" formControlName="cognome"><br>
            <select name="Sesso" class="form-control" formControlName="sesso">
                <!-- <option value={{item}} *ngFor="let item of sesso"> {{item}} </option> -->
                <option value="Uomo">Uomo</option>
                <option value="Donna">Donna</option>
            </select>
            <br>
            <img class="icon" src="icon-email.png" alt="">  
                <input type="text" name="Email" class="form-control" placeholder="Email" formControlName="email"><br>
            <img class="icon" src="icon.telefono.png" alt="">  
                <input type="text" name="telefono" class="form-control" placeholder="Telefono" formControlName="telefono"><br>
            <br>
            <br>
            <input routerLink="/profilo" type="submit" class="form-control submit" value="annulla">   
            <input type="submit" class="form-control submit" value="conferma">
        </form>
    </div>
</body>

