.container {
    padding-top: 1px;
    color: white;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, #006cff , #00bdff);
    text-align: center;
}

.avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 25px;
}

.avatar img:hover {
    box-shadow: 2px 2px 2px 2px black;
    cursor: pointer;
}