<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div>
        <img src="../../../assets/logo.png" class="logo">
        <img src="../../../asset/x.png" routerLink="/login" class="tastoX"></a>
        <H1>Registrati</H1>
        <form (ngSubmit)="signup()" [formGroup]="signupForm" ngNativeValidate>

            <div class="grid-container">
                <div class="item1">
                    <span class="material-icons">
                                account_box
                    </span>
                </div>
                <div class="item2">
                    <label for="nomeUtente">
                                Email
                            </label>
                </div>
                <div class="item3">
                    <input type="text" id="username" formControlName="username" required>
                </div>
            </div>
            <div class="grid-container">
                <div class="item1">
                    <span class="material-icons">
                        lock
                    </span>
                </div>
                <div class="item2">
                    <label for="password">Password</label>
                </div>
                <div class="item3">
                    <input type="password" id="password" formControlName="password" required>
                </div>

                <button type="submit" class="bottone">Registrati</button>
        </form>
        </div>
</body>