<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div>
        <img src="../../../assets/img/logo.png" class="logo">
        <img src="../../../assets/img/x.png" routerLink="/login" class="tastoX">
        <p class="title">Registrati</p>
        <form (ngSubmit)="signup()" [formGroup]="signupForm" ngNativeValidate>

            <div class="grid-container">
                <div class="item1">
                    <span class="material-icons">
                                account_box
                    </span>
                </div>
                <div class="item2">
                    <label for="nomeUtente">
                                Nome utente
                            </label>
                </div>
                <div class="item3">
                    <input type="text" id="username" formControlName="username" autocomple te="off" required>
                </div>
            </div>
            <div class="grid-container">
                <div class="item1">
                    <span class="material-icons">
                        lock
                    </span>
                </div>
                <div class="item2">
                    <label for="password">Password</label>
                </div>
                <div class="item3">
                    <input type="password" id="password" formControlName="password" autocomplete="off" required>
                    <span class="material-icons" style="margin-left: 30px;"> 
                        visibility
                    </span>
                </div>
            </div>

            <button type="submit" class="bottone">Registrati</button>
        </form>
    </div>
</body>