//definizioni variabili scss
$coloreInizioSfumatura: RGB(0, 107, 255);
$coloreFineSfumatura: RGB(0, 194, 255);
//fine definizione variabili
//definizione css
.main-container {
	margin: -5px;
	padding: 0;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, #006cff , #00bdff);
    color: #008CFF;
	height: 100%;
    width: auto;

}

.container{
    margin-left: -35px;
}

.card {
    display: inline-block;
    background-color: rgb(204, 226, 255);
    border-radius: 25px;
    width: 20%;
    margin-top: 15px;
    margin-left: 30px;
    padding: 10px;
}

.img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid black;
}

.title {
    font-size: 20px;
}

.description {
    font-size: 13px;
}

.card:hover {
    background-color: rgb(163, 191, 214);
    cursor: pointer;
}

img {
    width: 80%;
}

img.share {
    width: 25px;
}


/*BOTTONI Tutti-Preferiti-Nascondi*/

.btn{
    display: inline-block;
    width: 150px;
    text-decoration: none;
    background: white;
    opacity: 0.7; //Aggiunto
    color: #006cff;
    padding: 7px 20px;
    font-size: 15px;
    border-radius: 25px;
    border: solid 2px white;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    transition: .4s;
    margin-left: 8px;
  }

.btn:focus {
    padding: 7px 20px;
    border-radius: 25px;
    background: white;
    opacity: 1; //AGGIUNTO
    color: #006cff;
}

.btnMostraDiPiu{ //AGGIUNTO
  display: inline-block;
  text-decoration: none;
  width: 150px;
  background: white;
  color: #006cff;
  padding: 7px 20px;
  border-radius: 25px;
  font-size: 15px;
  border: solid 2px white;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
  margin-left: 8px;
}

.btn:hover {
    padding: 7px 20px;
    border-radius: 25px;
    background: white;
    color: rgb(0, 106, 255);
}

.showMore {
    text-decoration: none;
    background: white;
    color: rgb(0, 106, 255);
    padding: 15px 60px;
    border-radius: 25px;
    text-align: center;
    font-weight: lighter;
    transition: .4s;
    margin-left: 8px;
    outline: none;
    border: none;
    font-weight: lighter;
    cursor: pointer;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 43%;
}


/* FINE BOTTONI Tutti-Preferiti-Nascondi*/
.button{
    margin-top: 20px;
}
.btnAllineamento {
    text-align: left;
    margin-left: 3%;
}

.align {
    float: right;
}

.preferito{
    position: relative;
    top: 20%;
}
