/* Use the variables */

div {
    margin-left: 1%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, #006cff, #00bdff);
    color: #008CFF;
    height: 100%;
    width: auto;
}


/* Barra di Navigazione */

ul {
    /*Impostazioni Barra */
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
    // padding-top: 2%;
    overflow: hidden;
    background-image: linear-gradient(to right, #006cff, #00bdff);
}

li {
    /*Allineamento testo */
    float: left;
}

li a {
    /*Impostazioni testo */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    cursor: pointer;
    //margin-left: 5%;
}

li a:hover {
    /* Colore ppassaggio mouse */
    border-bottom: 1px solid white;
}

li a:focus {
    /* Colore ppassaggio mouse */
    border-bottom: 1px solid white;
}

// .active, .btn:hover {
//     background-color: red;
//     color: white;
// }
img {
    width: 100px;
    //padding-left: 20%;
    float: right;
    padding-right: 20px;
}


/* Fine Barra di Navigazione */