<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <div>
        <ul>
            <li><a class="active" routerLink="home">Homepage</a></li>
            <li><a>Lista</a></li>
            <li><a href="#Cards">Cards</a></li>
            <li><a href="#Feedback">Feedback</a></li>
            <li><a href="#Profilo">Profilo</a></li>
            <li><a href="#Esci">Esci</a></li>
          </ul>
    </div>
</body>
</html>
