<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>
    <div>
        <ul>
            <!-- <li> Benvenuto {{username}} </li> -->
            <li> <a class="active" routerLink="/home">Homepage</a></li>
            <li> <a routerLink="/list"> Lista </a>  </li>
            <li> <a routerLink="/cards">Cards</a></li>
            <li> <a routerLink="/feedback"> Feedback </a> </li>
            <li> <a routerLink="/profilo"> Profilo </a></li>
            <li> <a (click)="logout()"> Esci </a></li>
            <img src="/assets/logo-prova.png" alt="Il logo del nostro blog"/>
        </ul>
    </div>

</body>

</html>
