<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>
    <div>
        <ul>
            <li><a class="active" routerLink="home">Homepage</a></li>
            <li> <a routerLink="/list"> Lista </a>  </li>
            <li> <a href="">Cards</a></li>
            <li> <a href="">Feedback</a></li>
            <li> <a routerLink="/logout"> Esci </a> </li>
            <img ng-src="../../../asset/lucrative-logo.png" alt="Il logo del nostro blog" />
        </ul>
    </div>

</body>

</html>